@{ Layout = "_Layout"; }
<h1>Welcome to Pierre Bakery!</h1>
<h2><p>@Html.ActionLink("See all treats", "Index", "Treats")</p></h2>
<h2><p>@Html.ActionLink("See all flavors", "Index", "Flavors")</p></h2>
<p>@Html.ActionLink("Login", "Login", "Account")</p>
<p>@Html.ActionLink("Create an account", "Register", "Account")</p>
