@{
  Layout = "_Layout";
}

@using System.Collections.ObjectModel
@using Bakery.Models
@model System.Collections.Hashtable

<h2>Add a treat</h2>

<h4>Add a treat to this flavor: @Html.DisplayFor(model => ((Flavor)model["flavor"]).Description)</h4>

@if (((List<Treat>)Model["treats"]).Any())
{
    <ul>
        @foreach (var treat in (List<Treat>)Model["treats"])
        {
            <li>@Html.ActionLink($"{treat.Name}", "AddTreatToFlavor", new
                {
                    flavorId = ((Flavor)Model["flavor"]).FlavorId,
                    treatId = treat.TreatId
                    
                })</li>
        }
    </ul>
}
else
{
    <p>No treats have been added yet!</p>
}

<p>@Html.ActionLink("Cancel", "Index")</p>
